body {
font-size: small;
font-family: Verdana, Helvetica, Arial, sans-serif;

}
img {
  background-color: blue;
}
h1{
  font-size: 160%;
  color: #007e7e;
}
h2 {
  font-size: 130%;
  color: #007e7e;
}
h3 {
  margin-left: 40px;
}
.guarantee {
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, Times, serif;
  color: #4444444;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #a7cece;
  padding: 27px;
  margin-right: 40px;
  margin-left: 90px;
}
