body {
font-size: small;
font-family: Verdana, Helvetica, Arial, sans-serif;

}
img {
  background-color: blue;
  border-width: 0px;
}
h1{
  font-size: 160%;
  color: #007e7e;
}
h2 {
  font-size: 130%;
  color: #007e7e;
}
h3 {
  margin-left: 40px;
}
.guarantee {
  line-height: 1.9em;
  font-style: italic;
  font-size: 130%;
  font-family: Georgia, Times, serif;
  color: #4444444;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #a7cece;
  padding: 27px;
  margin-right: 370px;
  margin-left: 40px;
}
#elixirs {
  line-height: 1.7em;
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  width: 300px;

  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  float: right;
}
#elixirs a:link {
  color: #007e7e;
}

#elixirs a:visited {
  color: #333333;
}

#elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}
#footer {
  font-size: 100%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}

.cd {
  font-style: italic;
}
.artist {
  font-weight: bold;
}
